<section class="container main">
  <div class="description">
    <div class="description__title">
      <a [routerLink]="[ '/tablero' ]" class="back_btn">
        <button mat-mini-fab color="primary">
          <mat-icon>arrow_back</mat-icon>
        </button>

      </a>
      <h1>Registro de actividades en comunidad</h1>
    </div>

    <p>Ingresa la información de las actividades que realizaste en comunidad. Recuerda adjuntar el link de google drive del acta si fue mesa de trabajo.</p>
  </div>

  <app-new-activity-form (onSubmit)="submit($event)"></app-new-activity-form>
</section>
