$md-techo-primary: (
  50 : #e0f2fb,
  100 : #b3def5,
  200 : #80c9ee,
  300 : #4db3e7,
  400 : #26a2e2,
  500 : #0092dd,
  600 : #008ad9,
  700 : #007fd4,
  800 : #0075cf,
  900 : #0063c7,
  A100 : #eff6ff,
  A200 : #bcd9ff,
  A400 : #89bcff,
  A700 : #6faeff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-techo-accent: (
  50 : #ffede9,
  100 : #fed2c8,
  200 : #feb5a3,
  300 : #fe977e,
  400 : #fd8062,
  500 : #fd6a46,
  600 : #fd623f,
  700 : #fc5737,
  800 : #fc4d2f,
  900 : #fc3c20,
  A100 : #ffffff,
  A200 : #ffede9,
  A400 : #ffbbb3,
  A700 : #fd8062,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);