<mat-card>
  <mat-card-content>
    <p><strong>Comunidad: </strong>{{ activity.nombreComunidad | titlecase }}</p>
    <p><strong>Fecha: </strong>{{ activity.fechaJornada | date }}</p>
    <p><strong>Fue mesa de trabajo?: </strong>{{ checkMesaTrabajo(activity.esMesaTrabajo) }}</p>
    <p *ngIf="coordinador"><strong>Registrada por: </strong>{{ activity.nombreVoluntario | titlecase }}</p>
  </mat-card-content>

  <mat-card-actions align="end">
    <a mat-raised-button color="primary" [routerLink]="['actividad', activity.id]" [queryParams]="{ workbench: activity.esMesaTrabajo }">
      Ver más
      <mat-icon>navigate_next</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
