@import '../../../../../styles/medias';

.workbench {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 15px;
  @include sm-screen() {
    width: 75%;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
  }
  &__check {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 7px 0;
  }
  &__radio {
    display: flex;
    gap: 16px;
  }
}

.participants {
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.complement {
  width: 100%;
  padding-top: 17px;
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.submit {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}

.w-100 {
  width: 100% !important;
}
.w-75 {
  width: 75% !important;
}
.w-50 {
  width: 50% !important;
}