@import './styles/theme';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main {
  max-width: 1366px;
  margin: 0px auto 18px;
  padding: 0px 24px;
}
