.container {
  height: 100%;
  position: relative;

  .techo-icon::after {
    content: "";
    display: block;
    mask: url("../../../assets/images/techo-logo.svg") no-repeat 50% 50%;
    -webkit-mask: url("../../../assets/images/techo-logo.svg") no-repeat 50% 50%;
    mask-size: 130px;
    -webkit-mask-size: 130px;
    background-color: #fff;
    color: #fff;
    width: 120px;
    height: 50px;
    cursor: pointer;
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
  }
}